body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    display: flex;
}

.row{
    border: 1px solid black;
    height: 35px;
    width: 35px;
}

.column{
    height: 35px;
    width: 35px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
}